[Unit]
Description=Dynamicbeat
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/dynamicbeat
ExecStart=/opt/dynamicbeat/dynamicbeat run --config /opt/dynamicbeat/dynamicbeat.yml

[Install]
WantedBy=multi-user.target
